<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true">
    <Appenders>
        <Console name="STDOUT_APP" target="SYSTEM_OUT">
            <PatternLayout pattern="[LOG_START] [LOG_TYPE=APP] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg [LOG_END]%n" />
        </Console>

        <Console name="STDOUT_ACCESS" target="SYSTEM_OUT">
            <PatternLayout pattern="[LOG_START] [LOG_TYPE=ACCESS] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg [LOG_END]%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="ACCESS" additivity="false" level="INFO">
            <AppenderRef ref="STDOUT_ACCESS"/>
        </Logger>

        <Logger name="APP" additivity="false" level="ERROR">
            <AppenderRef ref="STDOUT_APP"/>
        </Logger>

        <Logger name="org.springframework" additivity="false" level="ERROR">
            <AppenderRef ref="STDOUT_APP"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="STDOUT_APP"/>
        </Root>
    </Loggers>
</Configuration>