.bottom-ad-position {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  flex-shrink: 1;
  max-width: 25%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.react-component-div {
  flex-basis: auto;
  width: 100%;
  justify-content: left;
  align-self: start;
  flex-shrink: 0;
}
