.container {
  padding-top: 10px;
}

h3, span, label {
  font-family: "Shantell Sans", cursive;
  justify-content: center;
  text-align: center;
}

h3 {
  text-align: center;
}

label {
  font-size: 24px;
  color: #577B8D;
}

textarea {
  font-family: "Shantell Sans", cursive;
  height: 300px;
}

.word {
  justify-content: center;
}

.heading {
  height: 100px;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
  color: #ff8a08;
}

.centered_button {
  padding-left: 10px;
  padding-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
}