.container {
  padding-top: 10px;
}

h3, span, label {
  font-family: "Shantell Sans", cursive;
  justify-content: center;
}

label {
  font-size: 24px;
  color: #577B8D;
}

textarea {
  font-family: "Shantell Sans", cursive;
  height: 300px;
}