.bottom-ad-position {
  padding-top: 25px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-component-div {
  flex-basis: auto;
  width: 100%;
  justify-content: left;
  align-self: start;
  flex-shrink: 0;
}
